body {
    background-color: rgba(228, 238, 211, 0.884);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-evenly;
    height: 100%;
}

br {
    display: block;
}

/* Header container */
.container1-header {
    display: flex;
    padding: 20px;
    border: none;
    order: 1;
    color: whitesmoke;
    background-color: rgb(166, 166, 240);
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.item1Container1-welcome {
    font-size: xx-large;
    padding: 10px;
    text-decoration: underline;
}

.item2Container1-name {
    font-size: x-large;
    padding: 10px;
    margin: 20px;
}

.item3Container1-navBar {
    justify-content: center;
}

.item3Container1-navBar a {
    font-size: large;
    padding: 30px;
    color: white;
    align-self:center;
}

/* Main content container */
.mainContentContainer {
    display: flex;
    width: 100%;
    padding: 20px;
    order: 2;
}

.mainContentContainer h2 {
    font-size: larger;
    padding: 10px;
    text-decoration: underline;
}

.mainContentContainer h3 {
    font-size: medium;
    padding: 10px;
    margin-bottom: 10px;
}

/* Projects section*/
.container2-projects {
    display: flex;
    padding: 10px;
    order: 2;
    border-right: solid 3px white;
    border-left: solid 3px white;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

/* Code Refactor project */ 
.item1Container2-codeRefactor {
    display: flex;
    padding: 20px;
    margin: 10px;
    order: 1;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    background-color: white;
}

.item1Container2-codeRefactor img {
    height: 300px;
    width: 200px;
    border: ridge papayawhip 10px;
}

/* Cat & Mouse Scratch game project */ 
.item2Container2-scratchGame {
    display: flex;
    padding: 20px;
    margin: 10px;
    order: 2;
    flex-grow: 2;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

iframe {
    border: ridge papayawhip 10px;
    height: 30vh;
    width: 30vw;
}

/* Coming soon  */ 
.item3Container2-comingSoon {
    display: flex;
    padding: 20px;
    margin: 10px;
    background-color: white;
    order: 3;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 30px;
}

.item3Container2-comingSoon img {
    height: 200px;
    width: auto;
}


/* Left side section with picture and "about me" */
.container3-aboutMe {
    display: flex;
    padding: 30px;
    order: 1;
    flex-direction: column;
    align-items: center;
}

.item1Container3-picture img {
    height: 200px;
    width: 200px;
    border: 10px;
    border-style: groove;
    border-color: papayawhip;
}
.item2Container3-shortBio {
    font-size: large;
    color: papayawhip;
    background-color: rgb(163, 194, 177);
    padding: 30px;
}

/* Right side section with "contact info" */
.container4-contactInfo {
    display: flex;
    padding: 30px;
    order: 3;
    flex-direction: column;
    align-items: center;
}

.item1Container4-reachMe img {
    height: 200px;
    width: 200px;
    align-self: center;
}

.item2Container4-links {
    color: papayawhip;
    background-color: rgb(163, 194, 177);
    padding: 30px;
}

/* Footer container */
.container5-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;   
    background-color: rgb(166, 166, 240);
    color: white;
    font-size: x-large;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    order: 3;
}


/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {background-color: white; display: block;}

/* media queries */
@media only screen and (max-width: 768px) {
    .mainContentContainer {
        flex-direction: column;
    }
    .item3Container1-navBar {
        flex-direction: column;
    }
    .item2Container4-links {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .container2-projects {
        flex-direction: column;
    }    
    .item3Container1-navBar {
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    .container2-projects {
        flex-direction: column;
    } 