* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

.headerContainer {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #a9cea2;
    color: #eee6c5;

}

.headerContainer h1 {
    display: inline-block;
    font-size: 48px;
}

.headerContainer div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size: 20px;
}

.headerContainer div ul {
    list-style-type: none;
}

.headerContainer div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
  }

aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside img {
    height: 300px;
    width:300px;
}

.projectSection {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects {
    height: 250px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    background-image: url("https://cvcfoundation.org/wp-content/uploads/coming-soon-2579123_960_720.jpg");
    background-size: cover;
    background-position: center;
}

.codeRefactor {
    height: 250px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.codeRefactor img {
    width: 100%;
    height: 100%;
}