body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

.headerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.headerContainer h1 {
    align-items: center;
    justify-content: center;  
}

.headerContainer nav {
    align-items: flex-end ;
    justify-content: flex-end;  
}




aside img {
    height: 400px;
    width:300px;
}

div img {
    height: 200px;
    width: 200px;
}

/* 